@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Lato", sans-serif;
    margin: 0px;
    background-color: #18153a;
    color: white;
}
@layer utilities {
  .containerXl { max-width: 1396px; }

  .navbarItem {
    @apply flex items-center w-full p-5 text-lg font-medium text-indigo-700 border-b-2;
  }

  @screen tablet {
    .navbarItem {
        @apply justify-center py-0 border-b-4 border-indigo-1000;
    }
  }
}
