@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    background-color: #18153a;
    color: white;
}

::-webkit-scrollbar {
  display: none;
}
@layer utilities {
  .containerXl { max-width: 1396px; }

  .navbarItem {
    @apply hidden w-full p-2 text-sm font-medium;
  }

  @screen mobileXs {
    .navbarItem {
        @apply flex items-center;
    }
  }
  @screen mobile {
    .navbarItem {
        @apply pb-0 text-lg;
    }
  }
  @screen tabletXl {
    .navbarItem {
        @apply p-5;
    }
  }
  .aboutCard {
    @apply relative flex flex-col justify-end p-2 cursor-pointer;
  }
  @screen tabletLg {
  .aboutCard {
    @apply h-56;
    }
  }

  .button {
    @apply w-full px-4 py-3 text-lg font-medium text-center transition-all duration-500 border-2 rounded-full cursor-pointer;
  }

  .button.primary {
    @apply bg-pink-600 border-pink-900;
  }

  .button.primary:focus {
    @apply outline-none;
  }

  .button.primary:hover {
    @apply bg-pink-700;
  }

  @screen tablet {
    .navbarItem {
        @apply justify-center py-0;
    }
  }
}
