@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Lato", sans-serif;
    margin: 0px;
}
@layer utilities {
  .ssContainerXl { max-width: 1396px; }
  .ssContainerLg { max-width: 1160px; }
}
